@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <InventoryListItemComponent
            Inventories="inventories"></InventoryListItemComponent>
    </tbody>
</table>

@code
{
    [Parameter]
    public string SearchTerms { get; set; } = string.Empty;

    private List<Inventory> inventories = new();

    protected override async Task OnParametersSetAsync()
    {
        base.OnParametersSet();

        inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync(this.SearchTerms)).ToList();
    }

}
